body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}
button:hover {
  opacity: .7;
}
#view_player {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, #1A4A1C, #308834);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.group-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
	height: 220px;
	position: relative;
  background: #D8B98D;
  padding: 22px;
  border-radius: 2px;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 360px;
	height: 190px;
	position: relative;
	top: 15%;
}

.groupbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}
.groupbutton > * {
  padding: 10px 18px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  height: 50px;
}
.group > * {
  height: 100%;
}

.border {
  border: 2px solid white;
}
.border-radius {
  border-radius: 50px;
}
.border-btn {
  border-radius: 12px;
}
.border-side {
  width: 100%;
}
.btn-reset {
  width: 150px;
  height: 150px;
  font-size: 18px;
  background-color: #DD1414;
}
.deckcard , .btn-reset {
  font-weight: 600;
  color: white;
}
.deckcard {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.user-info  {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.user-info > p {
  margin: .3rem 0;
  font-weight: 500;
  font-size: 18px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards img {
  width: 80px;
  padding-right: 2px;
}
.other-player {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.other-player-top {
  top: 10px;
  flex-direction: column;
  left: 45%;
}
.other-player-left {
  left: 45px;
	top: 300px;
}
.other-player-right {
  right: 40px;
	top: 290px;
}
.mask-cards {
  display: flex;
}
.cards-player {
  display: flex;
  position: absolute;
  top: 115px;
}
.cards-player img {
  width: 50px;
  padding-right: 2px;
}
.player-other {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-other > p {
  margin: 0 0 .2rem 0;
  font-size: 13px;
}
.noti {
  color: #161d95;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 58%;
}
